.form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($color: gray, $alpha: 0.5);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form-group {
  display: flex;
  justify-content: space-between;
}
.form-container {
  width: 43%;
  height: 45%;
  background-color: #fff;
  display: grid;
  align-content: center;
  justify-content: center;
}
.dialog-buttons {
  display: flex;
  justify-content: space-between;
}