.user-card {
  padding: 20px;
  border: 1px solid gray;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
  &__buttons {
    display: flex;
  }
  &__button {
    background-color: #fff;
    padding: 5px 10px;
    border: 1px solid gray;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
      opacity: 0.5;
      transition: opacity 0.5s;
    }
    &:last-child {
      margin-left: 15px;
    }
  }
}